.toolbar {
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1 0 1 0;
    -fx-border-style: solid;
}

.toolbar .separator {
    -fx-background-color:  #B3B3B3;
    -fx-pref-width: 1;
}

.coordinate-label {
    -fx-text-fill: #999999;
}

.item-pane {
    -fx-border-color: #B3B3B3;
    -fx-border-width: 0 0 0 1;
    -fx-border-style: solid;
    -fx-fit-to-width: true;
    -fx-hbar-policy: NEVER;
    -fx-pannable: true;
    -fx-background: transparent;
}

.item-pane .section-header {
    -fx-pref-height: 50;
    -fx-background-color: #3D3D3D;
    -fx-fill-height: false;
    -fx-alignment: CENTER_LEFT;
}

.item-pane .section-header .label {
    -fx-text-fill: white;
}

.item-pane .section-header .icon {
    -fx-pref-width: 58;
    -fx-min-width: 58;
}

.item-pane .player-team-side-section {
    -fx-background-color: #8D9EAD;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 14;
    -fx-pref-height: 30;
}

.item-pane .tile-pane {
    -fx-pref-tile-height: 58;
    -fx-pref-tile-width: 58;
}

.item-pane .item {
    -fx-cursor: hand;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
}

.item-pane .item .item-content {
    -fx-alignment:CENTER;
    -fx-padding: 5 0 0 0;
}

.item-pane .item:hover {
    -fx-background-color: #D9D5D3;
}

.item-pane .item:pressed {
    -fx-background-color: #BFBFBF;
}

.sequence-control-pane {
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1 0 0 0;
    -fx-border-style: solid;
    -fx-padding: 10 14 10 14;
}

.sequence-control-buttons {
    -fx-spacing: 5;
}

.sequence-control-buttons .fixed-rewind-button .label {
    -fx-font-size: 15;
    -fx-padding: 0 0 0 3;
}

.sequence-control-buttons .fixed-forward-button .label {
    -fx-font-size: 15;
    -fx-padding: 0 3 0 0;
}

.seekbar .bar {
    -fx-background-color: #CCCCCC
}

.seekbar .seekbar-key-point {
    -fx-cursor: hand;
}

.seekbar .seekbar-key-point:hover {
    -fx-background-color: #D9D5D3;
}

.seekbar .seekbar-key-point:hover {
    -fx-background-color: #BFBFBF;
}

.seekbar .seekbar-key-point .label {
    -fx-text-fill: black;
    -fx-font-size: 15;
}

.scene-container {
    -fx-background: #F3F1EF;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: as-needed;
}

.scene-container .scene {
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #B3B3B3;
    -fx-background-color: white;
}
