.root-pane, .root-section-pane {
    -fx-font-family: 'Source Sans Pro Light' ;
    -fx-font-size: 19;
    -fx-text-fill: black;
    -fx-background: white;
}

.section-title {
    -fx-font-size: 32;
    -fx-text-fill: #4F4F4F;
}

/* Main menu */

.main-menu-item {
    -fx-cursor: hand;
    -fx-border-width:  0 0 1 0;
    -fx-border-style:  hidden hidden solid hidden;
    -fx-text-fill: white;
}

.main-menu-item:hover {
    -fx-background-color: #2B2B2B;
}

.main-menu-item:pressed {
    -fx-background-color: #1A1A1A;
}

.main-menu-item.active {
     -fx-background-color: #1A1A1A;
}

.main-menu-hamburger {
    -fx-cursor: hand;
}

.main-menu-hamburger:hover {
    -fx-background-color: #2B2B2B;
}

.main-menu-hamburger:pressed {
    -fx-background-color: #1A1A1A;
}

/* Forms */

.form-section {
    -fx-background-color: #FBB03B;
}

.form-section .label {
    -fx-text-fill: white;
}

/* Common controls */

.link-button {
    -fx-cursor: hand;
}

.link-button .label {
    -fx-text-fill: #1895fd;
}

.link-button:hover .label {
    -fx-text-fill: #184CFD;
}

.link-button:hover .st0 {
    -fx-fill: #184CFD;
}

.tile-container {
    -fx-border-color:  #F7931E #EBE8E5 #EBE8E5 #EBE8E5;
    -fx-border-width:   6 1 1 1
}

.button {
    -fx-text-fill: #1895fd;
    -fx-border-color: #B3B3B3;
    -fx-border-width: 1;
    -fx-background-color: #F3F1EF;
    -fx-cursor: hand;
}

.button.default {
    -fx-font-family: 'Source Sans Pro' ;
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.button:hover {
    -fx-background-color: #D9D5D3;
}

.button:pressed {
    -fx-background-color: #BFBFBF;
}

.text-field {
    -fx-border-color:  #CCCCCC;
    -fx-background-color:  white;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: #F3F1EF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1 1 1 0;
    -fx-cursor: hand;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover {
    -fx-background-color: #D9D5D3;
}

.spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: #BFBFBF;
}

