.tile-container .tile {
    -fx-alignment: TOP_CENTER;
}

.tile-container .tile {
    -fx-border-color: #1895fd;
}

.tile-container .tile .tile-header {
    -fx-alignment: CENTER_RIGHT;
}

.play-title-container {
    -fx-alignment: TOP_LEFT
}

.play-preview-container {
    -fx-alignment: CENTER;
}

.trash-button {
    -fx-cursor: hand;
}

.trash-button:hover .st0 {
    -fx-fill: #184CFD;
}