.tile-container .tile {
    -fx-alignment: TOP_CENTER;
}

.tile-container .tile .tile-header {
    -fx-alignment: CENTER_RIGHT;
}

.play-title-container {
    -fx-alignment: TOP_LEFT
}

.play-preview-container {
    -fx-alignment: CENTER;
}